<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gambungstore.buyer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gambungstore.buyer.jicashCheckoutDone"></activity>
        <activity android:name="com.gambungstore.buyer.jicashCheckoutPayment" />
        <activity
            android:name="com.gambungstore.buyer.jicashAlert"
            android:theme="@style/AppTheme.DialogPop" />
        <activity android:name="com.gambungstore.buyer.JicashCheckoutForm" />
        <activity android:name="com.gambungstore.buyer.TopUpJicash" />
        <activity android:name="com.gambungstore.buyer.jiCashHomeActivity" />

        <activity android:name="com.gambungstore.buyer.DetailStore"></activity>
        <activity android:name="com.gambungstore.buyer.Chat" />
        <activity android:name="com.gambungstore.buyer.detailProduct" />
        <activity android:name="com.gambungstore.buyer.CheckoutDone" />
        <activity android:name="com.gambungstore.buyer.CheckoutPayment" />
        <activity android:name="com.gambungstore.buyer.CheckoutForm" />
        <activity android:name="com.gambungstore.buyer.periodeActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.easyphotopicker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <activity android:name="com.gambungstore.buyer.detailPromo" />
        <activity android:name="com.gambungstore.buyer.editProfile" />
        <activity android:name="com.gambungstore.buyer.changePasswordActivity" />
        <activity android:name="com.gambungstore.buyer.wishlistActivity" />
        <activity android:name="com.gambungstore.buyer.SearchActivity" />
        <activity android:name="com.gambungstore.buyer.productActivity" />
        <activity android:name="com.gambungstore.buyer.categoryActivity" />
        <activity android:name="com.gambungstore.buyer.promoActivity" />
        <activity android:name="com.gambungstore.buyer.register" />
        <activity android:name="com.gambungstore.buyer.login" />
        <activity android:name="com.gambungstore.buyer.authOption" />
        <activity android:name="com.gambungstore.buyer.homeActivity" />
        <activity android:name="com.gambungstore.buyer.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="dev.gambungstore.id" />
            </intent-filter>
        </activity>
        <activity android:name="com.gambungstore.buyer.MainActivity" />
    </application>

</manifest>